<!DOCTYPE html>
<html>
<head>
    <title>Leaflet Map Example</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
        integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
        crossorigin=""/>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.4/socket.io.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <!-- <script type="text/javascript" charset="utf-8">
            $(document).ready(function() {
                var socket = io.connect('http://127.0.0.1:5000');
    
                socket.on('connect', function() {
                    console.log('Connected to the server.');
                    socket.emit('connect_event', {data: 'I\'m connected!'});
                });
    
                socket.on('server_response', function(msg) {
                    console.log('Received a message: ', msg.data);
                    $('#log').append('<br>' + $('<div/>').text('Received: ' + msg.data).html());
                });
    
                $('form#emit').submit(function(event) {
                    event.preventDefault();
                    var messageToSend = $('#emit_data').val();
                    console.log('Sending message: ', messageToSend);
                    socket.emit('client_event', {data: messageToSend});
                    $('#emit_data').val('');
                });
            });
        </script> -->
</head>
<body>
    <div id="map" style="height: 800px;"></div>
    <div id="instructions-container"></div>
    <button id="navigation-button">導航</button>
    <!-- <h4>Socket.io API (test)</h4>
    <form id="emit" action='#'>
        <textarea name="emit_data" id="emit_data" placeholder="Enter your message here..." cols="50" rows="5"></textarea>
        <input type="submit" value="Run">
    </form>
    <div id='log'></div> -->

    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
        integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
        crossorigin="">
    </script>

    <script src="static/map_control.js"></script>
</body>
</html>
