<!DOCTYPE html>
<html>
<head>
    <title>Taiwan Ramen Map</title>
    
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
        integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
        crossorigin=""/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="static/map.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.4/socket.io.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<body>
    <div id="map"></div>

    <div id="searchContainer">
        <input type="text" id="searchInput" placeholder="Search...">
        <button class="search" onclick="performSearch()">Search</button>
    </div>
    
    <div class="offcanvas offcanvas-start" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel">
        <div class="offcanvas-header">
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            <h2 class="offcanvas-title" id="offcanvasScrollingLabel">Details</h2>
            <h5 class="ramen-features"></h5>
        </div>
        <div class="offcanvas-body">
            <img class="ramen-image" alt="Base64 Image">
            <br>
            <div class="official-site"></div>
            <div class="address-container">
                <div class="address"></div>
                <!-- Button to toggle the visibility of the off-canvas -->
                <button class="btn btn-info btn-sm" id="toggleButton" onclick="toggleOffCanvasVisibility()">導航>></button>
            </div>
            <div class="open-time"></div>
            <br>
            <div class="overall-rating"></div>
            <br>
            <div class="recommend">
                麵友推薦:
                <h5 class="ramen-recommend"></h5>
            </div>
            <div class="google-maps"></div>
            <br>
            <h5>現場即時回報</h5>
            <form id="emit" action='#'>
                <textarea name="emit_data" id="emit_data" placeholder="Enter your message here..." cols="30" rows="5"></textarea>
                <input type="submit" value="Run">
            </form>
            <div id='log'></div>
        </div>
    </div>

    <div class="offcanvas offcanvas-start" tabindex="-1" data-bs-backdrop="false" id="instructions-wrapper" data-bs-scroll="true" aria-labelledby="instructions-wrapperLabel" style="z-index: 1045; visibility: hidden;">
        <div class="offcanvas-header">
            <h4 id="offcanvasBottomLabel">路徑提示</h4>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <!-- Tab navigation for paginated content -->
            <ul class="nav nav-pills" id="instructionTabs" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="main-instructions-tab" data-bs-toggle="tab" data-bs-target="#main-instructions-container" type="button" role="tab" aria-controls="main-instructions-container" aria-selected="true">規劃路線</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="youbike-instructions-tab" data-bs-toggle="tab" data-bs-target="#youbike-instructions-container" type="button" role="tab" aria-controls="youbike-instructions-container" aria-selected="false">優化路線</button>
                </li>
            </ul>
            <!-- Tab content areas -->
            <div class="tab-content">
                <div class="tab-pane fade show active" id="main-instructions-container" role="tabpanel" aria-labelledby="main-instructions-tab">
                    Main Instructions
                </div>
                <div class="tab-pane fade" id="youbike-instructions-container" role="tabpanel" aria-labelledby="youbike-instructions-tab">
                    YouBike Instructions
                </div>
            </div>
        </div>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
        integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
        crossorigin="">
    </script>
    <script src="static/map_control.js"></script>
</body>
</html>
